/*
Color Palette used: 

#003049 ~> Prussian Blue 
#D62828 ~> Maximum Red 
#F77F00 ~> Orange
#EAE2B7 ~> Lemon Meringue

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

#wrapper {
  background-color: #003049;
  overflow: hidden;
  text-align: center;
  border: solid black 4px;
  border-radius: 0 0 10px 10px;
}

#logo {
  background-color: black;
  border-radius: 0 0 10px 10px;
  color: #d62828;
  padding: 10px;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.flex-item {
  flex: 1 1 25%;
  list-style-type: none;
  padding: 10px;
}

a {
  color: #3428d6;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
}

a:hover {
  color: #ff0404;
  transition-duration: 0.4s;
}

body {
  background-color: #ffffff;
}

hr.rounded {
  border: 10px solid #f77f00;
  border-radius: 10px;
}

.separation {
  background-color: #003049;
  text-align: center;
  border: solid black 4px;
  border-radius: 10px 10px 10px 10px;
  color: #d62828;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  font-size: 1.5em;
}

#section-flex {
  display: flex;
  flex-wrap: wrap;
}

#section-flex section {
  flex: 1 1 40%;
  margin: 2px;
}

#section-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
}

#section-grid section {
  /*flex: 1 1 33%;*/
  margin: 2px;
}

section div {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  border: solid black 2px;
  border-radius: 10px;
}

section div iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
